.rule li {
  display: inline-block;
  padding: 7px 10px;
  background-color: #f5f7f9;
  margin-right: 7px;
  border-radius: 10px;
}
.rule .active {
  background: linear-gradient(12.03deg, #5c4fc3 16.86%, #2fe6cf 179.72%);
  color: #ffffff;
}
.monitor .icon {
  display: block;
  border: 1px solid;
  padding: 6px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #d4dde7;
  cursor: pointer;
}
.monitor .icon:hover {
  color: white;
  background: #5c4fc3;
}
.monitor .active {
  color: white;
  background: #5c4fc3;
}
