@font-face {
  font-family: "Helvetica Neue";
  src: url("../../public/font/HelveticaNeueMedium.otf");
}
@font-face {
  font-family: "Helvetica NeueRoman";
  src: url("../../public/font/HelveticaNeueRoman.otf");
}
* {
  font-family: "Helvetica NeueRoman";
}
::-webkit-scrollbar {
  display: none;
}
.c-white {
  color: #ffffff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #5c4fc3;
}
.c-grey {
  color: #61788a;
}
.c-lightGrey {
  color: #767676;
}
.c-darkGrey {
  color: #646464;
}
.c-darkGreen {
  color: #248669;
}
.c-green {
  color: #42c59e;
}
.c-lightGreen {
  color: #9ae8d1;
}
.c-red {
  color: #ff4444;
}
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #f5f7f9;
}
.bg-lightblue {
  background-color: #f3f1ff;
}
.f-10 {
  font-size: 10px;
}
.f-11 {
  font-size: 11px;
}
.f-12 {
  font-size: 12px;
}
.f-13 {
  font-size: 13px;
  line-height: 17px;
}
.f-14 {
  font-size: 14px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-24 {
  font-size: 20px;
}
.f-32 {
  font-size: 32px;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.rounded-32 {
  width: 32px;
  height: 32px;
}
.radius-39 {
  border-radius: 39px !important;
}
.header {
  border-bottom: 0.4px solid #d4dde7;
  background-color: #ffffff;
  height: 64px;
}
.content-layout {
  background-color: #f5f7f9;
  min-height: 100vh;
}
.profile-img {
  border: 1px solid #767676;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.profile-img img {
  padding: 2px;
}
.cursor-pointer {
  cursor: pointer;
}
.label {
  font-size: 14px;
  font-weight: 500;
  font-family: Helvetica Neue;
}
.form-input {
  border: 0.6px solid #d4dde7;
  border-radius: 10px;
  padding: 16px;
  height: 50px;
  background-color: #fafafa;
}
.form-input::placeholder {
  color: #61788a99;
  font-size: 14px;
  font-weight: 400;
}
.custom-btn {
  background: linear-gradient(12.03deg, #5c4fc3 16.86%, #2fe6cf 179.72%);
  color: white !important;
  text-transform: none !important;
  padding: 10px !important;
  font-family: "Helvetica Neue" !important;
}
.btn-white {
  background-color: #ffffff !important;
  border-radius: 100px;
  padding: 0px 14px;
  margin: 6px;
  border: none;
  box-shadow: 0px 1px 2px 0px #0000001a;
  box-shadow: 0px 4px 4px 0px #00000017;
}
.custom-cards {
  background-color: #ffffff;
  border-radius: 16px;
}
.grey-card {
  background-color: #f5f7f9;
  border-radius: 16px;
}
.accordion .box {
  border-radius: 10px;
}
.accordion .question {
  /* background-color: #fff; */
  /* border-left: 3px solid #ce9c9b; */
  border-left-width: 4px; /* Set the desired border width */
  border-left-style: solid; /* Ensure the border style is solid */
  border-image-source: linear-gradient(180deg, #5568c5 0%, #2fe6cf 100%);
  border-image-slice: 1; /* Ensures the gradient covers the entire border */
}
.accordion-answer {
  overflow: hidden;
  transition: max-height 0s ease-in-out;
  max-height: 0; /* Initially hidden */
  background-color: #ffffff;
}
.accordion .arrow {
  border-left: 1px solid #d4dde7;
  /* display: inline; */
}
.accordion li {
  border-bottom: 1px solid #d4dde7;
}
.accordion li:last-child {
  border-bottom: none;
}
.accordion-answer.open {
  max-height: 1000px; /* Sufficiently high to cover content. Adjust based on your content's need */
  border-radius: 8px;
  padding: 8px;
}
.accordion button {
  border: none;
  background-color: white;
  padding: 8px 16px;
  border-radius: 8px;
}
.accordion button:hover {
  background-color: #eceaff;
}
.personalList li {
  border-bottom: 1px solid #d4dde7;
}
.personalList li:last-child {
  border-bottom: none;
}
.pagination .icon {
  padding: 8px;
  background-color: #f5f7f9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.pagination .icon:hover {
  background-color: #eceaff;
}
.pointer,
.value-text,
.tick-value,
.tick-line {
  display: none !important;
}
.chart-gauge {
  position: relative;
}
.chart-gauge .content {
  position: absolute;
  top: 50%;
  left: 40%;
}
.expire {
  background: linear-gradient(0.44deg, #2fe6cf 15.98%, #5c4fc3 89.15%);
  top: 64px !important;
  height: 34px;
}
